<div class="container p-4 m-3">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" *ngFor="let item of cart">
      <div class="card">
        <img [src]='item.imageUrl' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <div class="card-text">Quantity - {{item.quantity}} pieces</div>
          <div class="card-text">Price - {{item.totalPrice}} pieces</div>
          <div class="card-text">{{checkoutDate | date: "medium"}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 mb-3 justify-content-center">
    <button (click)="checkout()" class="btn btn-primary-gradien">
      Checkout
    </button>
  </div>
</div>
