<div class="br-logo"><a href="#"><span>[</span>Accountant<span>]</span></a></div>
    <div class="br-sideleft overflow-y-auto">
      <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
      <div class="br-sideleft-menu">
        <a routerLink="/account/dashboord" class="br-menu-link active">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
            <span class="menu-item-label">Dashboard</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <a routerLink="/account/profile" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-email-outline tx-24"></i>
            <span class="menu-item-label">profile</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <a routerLink="/account/customer" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
            <span class="menu-item-label">Customer</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <a routerLink="/account/cafes" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
            <span class="menu-item-label">Cafes</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <a routerLink="/account/delever" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>
            <span class="menu-item-label">Delivery</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
      
       
        <a routerLink="/account/sales" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-paper-outline tx-22"></i>
            <span class="menu-item-label">Manage-Sales</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        
        <a  class="br-menu-link">
          <div class="br-menu-item">
            <i (click)="logout()" class="menu-item-icon icon ion-ios-list-outline tx-22"></i>
            <span class="menu-item-label" style="color: white;">Logout</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
      </div><!-- br-sideleft-menu -->


      
      <br>
    </div>

    <script src="../../../assets/assets/lib/jquery/jquery.js"></script>
<script src="../../../assets/assets/lib/popper.js/popper.js"></script>
<script src="../../../assets/assets/lib/bootstrap/bootstrap.js"></script>
<script src="../../../assets/assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
<script src="../../../assets/assets/lib/moment/moment.js"></script>
<script src="../../../assets/assets/lib/jquery-ui/jquery-ui.js"></script>
<script src="../../../assets/assets/lib/jquery-switchbutton/jquery.switchButton.js"></script>
<script src="../../../assets/assets/lib/peity/jquery.peity.js"></script>
<script src="../../../assets/assets/lib/chartist/chartist.js"></script>
<script src="../../../assets/assets/lib/jquery.sparkline.bower/jquery.sparkline.min.js"></script>
<script src="../../../assets/assets/lib/d3/d3.js"></script>
<script src="../../../assets/assets/lib/rickshaw/rickshaw.min.js"></script>


<script src="../../../assets/assets/js/bracket.js"></script>
<script src="../../../assets/assets/js/ResizeSensor.js"></script>
<script src="../../../assets/assets/js/dashboard.js"></script>
<script>
  $(function(){
    'use strict'

    // FOR DEMO ONLY
    // menu collapsed by default during first page load or refresh with screen
    // having a size between 992px and 1299px. This is intended on this page only
    // for better viewing of widgets demo.
    $(window).resize(function(){
      minimizeMenu();
    });

    minimizeMenu();

    function minimizeMenu() {
      if(window.matchMedia('(min-width: 992px)').matches && window.matchMedia('(max-width: 1299px)').matches) {
        // show only the icons and hide left menu label by default
        $('.menu-item-label,.menu-item-arrow').addClass('op-lg-0-force d-lg-none');
        $('body').addClass('collapsed-menu');
        $('.show-sub + .br-menu-sub').slideUp();
      } else if(window.matchMedia('(min-width: 1300px)').matches && !$('body').hasClass('collapsed-menu')) {
        $('.menu-item-label,.menu-item-arrow').removeClass('op-lg-0-force d-lg-none');
        $('body').removeClass('collapsed-menu');
        $('.show-sub + .br-menu-sub').slideDown();
      }
    }
  });
</script>