<!-- <table>
    <tbody>
        <tr *ngFor="let item of home.Result  ">
          <td>{{item.categoryName}}</td>
          <td>{{item.itemName}}</td>
          <td>{{item.components}}</td>
          <td>{{item.cafeName}}</td>
          <td>{{item.price}}</td>
          <td><img style="border-radius:20%;margin: 0 !important;padding:  0 !important;"  [src]="createImgPath(item.img)" 

            class="rounded-circle img-fluid" style="width: 100px;" alt="" height="80" width="90"></td>


          
          <td>

          <td>
        </tr>
</table> -->
<app-headercafe></app-headercafe>


<section>
    <div class="block top-padd30 gray-bg">
        <div class="container">
             <div class="sec-box">
            <div class="row">
                   
                        <div class="col-md-9 col-sm-12 col-lg-9">
                            <div class="search-found">
                                <h3 itemprop="headline">Search Result Found <span class="red-clr">"Food"</span></h3>
                                <p itemprop="description">Vivam pulput vehic Mauris porttitor erovel sapien Sed ut persp voluptatem accusanti...</p>
                                <form class="search-frm">
                                    <input type="text" placeholder="Search Keyword">
                                    <button class="red-bg" type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <div class="remove-ext">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <div *ngFor="let item of home.Result" class="news-box wow fadeIn" data-wow-delay="0.2s">
                                            <div class="news-thumb">
                                                <a class="brd-rd2" href="blog-detail-right-sidebar.html" title="" itemprop="url"><img [src]="createImgPath(item.img)" 
                                                    alt="news-img3-1.jpg" itemprop="image"></a>
                                                <div class="news-btns">
                                                    <a class="post-date red-bg" href="#" title="" itemprop="url">{{item.categoryName}} : {{item.itemName}}  : {{item.price}}$  </a>
                                                    <a class="read-more" href="blog-detail-right-sidebar.html" itemprop="url">Order Now</a>
                                                </div>
                                            </div>
                                            <div class="news-info">
                                                <h4 itemprop="headline"><a href="blog-detail-right-sidebar.html" title="" itemprop="url"> cafe : {{item.cafeName}}</a></h4>
                                                <p itemprop="description">{{item.components}}</p>
                                            </div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-lg-3">
                            <div class="sidebar right">
                                <div class="widget style2 popular_posts wow fadeIn" data-wow-delay="0.2s">
                                    <h4 class="widget-title2 sudo-bg-red" itemprop="headline">Popular Posts</h4>
                                    <div class="widget-data">
                                        <div class="mini-posts-list">
                                            <div class="mini-post-item">
                                                <a href="blog-detail-right-sidebar.html" title="" itemprop="url"><img class="brd-rd2" src="assets/images/resource/popular-post-img1.jpg" alt="popular-post-img1.jpg" itemprop="image"></a>
                                                <div class="mini-post-info">
                                                    <h5 itemprop="headline"><a href="blog-detail-right-sidebar.html" title="" itemprop="url">Food Tech</a></h5>
                                                    <span class="mini-post-data"><i class="fa fa-clock-o"></i> August 10, 2017</span>
                                                </div>
                                            </div>
                                            <div class="mini-post-item">
                                                <a href="blog-detail-left-sidebar.html" title="" itemprop="url"><img class="brd-rd2" src="assets/images/resource/popular-post-img2.jpg" alt="popular-post-img2.jpg" itemprop="image"></a>
                                                <div class="mini-post-info">
                                                    <h5 itemprop="headline"><a href="blog-detail-left-sidebar.html" title="" itemprop="url">Food Tech</a></h5>
                                                    <span class="mini-post-data"><i class="fa fa-clock-o"></i> November 12, 2017</span>
                                                </div>
                                            </div>
                                            <div class="mini-post-item">
                                                <a href="blog-detail.html" title="" itemprop="url"><img class="brd-rd2" src="assets/images/resource/popular-post-img3.jpg" alt="popular-post-img3.jpg" itemprop="image"></a>
                                                <div class="mini-post-info">
                                                    <h5 itemprop="headline"><a href="blog-detail.html" title="" itemprop="url">Food Tech</a></h5>
                                                    <span class="mini-post-data"><i class="fa fa-clock-o"></i> May 15, 2017</span>
                                                </div>
                                            </div>
                                            <div class="mini-post-item">
                                                <a href="blog-detail-right-sidebar.html" title="" itemprop="url"><img class="brd-rd2" src="assets/images/resource/popular-post-img4.jpg" alt="popular-post-img4.jpg" itemprop="image"></a>
                                                <div class="mini-post-info">
                                                    <h5 itemprop="headline"><a href="blog-detail-right-sidebar.html" title="" itemprop="url">Food Tech</a></h5>
                                                    <span class="mini-post-data"><i class="fa fa-clock-o"></i> March 20, 2017</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget style2 quick_filters wow fadeIn" data-wow-delay="0.2s">
                                    <h4 class="widget-title2 sudo-bg-red" itemprop="headline">Quick Filters</h4>
                                    <div class="widget-data">
                                        <ul>
                                            <li><span class="radio-box"><input type="radio" name="filter" id="filt1-1"><label for="filt1-1">Promotions</label></span></li>
                                            <li><span class="radio-box"><input type="radio" name="filter" id="filt1-2"><label for="filt1-2">Bookmarked</label></span></li>
                                            <li><span class="radio-box"><input type="radio" name="filter" id="filt1-3"><label for="filt1-3">Pure veg</label></span></li>
                                            <li><span class="radio-box"><input type="radio" name="filter" id="filt1-4"><label for="filt1-4">Free Delivery</label></span></li>
                                            <li><span class="radio-box"><input type="radio" name="filter" id="filt1-5"><label for="filt1-5">Online Payments</label></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="widget style2 quick_filters wow fadeIn" data-wow-delay="0.2s">
                                    <h4 class="widget-title2 sudo-bg-red" itemprop="headline">Quick Filters</h4>
                                    <div class="widget-data">
                                        <ul>
                                            <li><span class="radio-box"><input type="radio" name="filter2" id="filt2-1"><label for="filt2-1">No minimum order 6</label></span></li>
                                            <li><span class="radio-box"><input type="radio" name="filter2" id="filt2-2"><label for="filt2-2">Up to ₹150 69</label></span></li>
                                            <li><span class="radio-box"><input type="radio" name="filter2" id="filt2-3"><label for="filt2-3">Up to ₹250 72</label></span></li>
                                            <li><span class="radio-box"><input type="radio" name="filter2" id="filt2-4"><label for="filt2-4">Up to ₹500</label></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--Sidebar -->
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
<app-footercafe></app-footercafe>
