<app-cafe-header></app-cafe-header>
<app-cafe-sidebar></app-cafe-sidebar>

    <div class="br-mainpanel">
      <main>
      <div class="br-pageheader pd-y-15 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="index.html">MY CAFE</a>
          <a class="breadcrumb-item" href="#"> The Menu</a>
        </nav>
      </div><!-- br-pageheader -->
      </main>
    </div>
    



    <section>
      <div class="block less-spacing gray-bg top-padd30">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 col-sm-12 col-lg-12">
                      <div class="sec-box">
                          <div class="remove-ext">
                              <div class="row">
                                  <div *ngFor="let item of cafeservice.data " class="col-md-4 col-sm-6 col-lg-4">
                                  <div class="popular-dish-box style2 wow fadeIn" data-wow-delay="0.2s">
                                      <div class="popular-dish-thumb">
                                          <a href="food-detail.html" title="" itemprop="url"><img  [src]="createImgPath(item.img)"  alt="popular-dish-img1.jpg" itemprop="image"></a>
                                          <span class="post-rate yellow-bg brd-rd2"><i class="fa fa-star-o"></i> 4.25</span>
                                      </div>
                                      <div class="popular-dish-info">
                                          <h4 itemprop="headline"><a href="food-detail.html" title="" itemprop="url">{{item.itemName}}</a></h4>
                                          <p itemprop="description">{{item.components}}</p>
                                          <span class="price">${{item.price}}</span>
                                          <a class="brd-rd4 "(click)="openDeleteDialog(item.itemId);" title="Order Now" itemprop="url">Delete</a>
                                          <a class="brd-rd4 "(click)="populateForm(item.itemId,item.itemName,item.price,item.components,item.img)" title="Order Now" itemprop="url">Edit</a>

                                         
                                      </div>
                                  </div><!-- Popular Dish Box -->
                              </div>
                             
                              
            
                             
                              
                              </div>
                          </div>
                         
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>


    
          <ng-template #callConfirmDeleteDialog>
            <h2 matDialogTitle>Are You Sure You Want to Delete This ?</h2>
            <mat-dialog-actions >
                <button  class="btn btn-primary" mat-button matDialogClose="no">Cancel</button>
                <button  class="btn btn-danger" mat-button matDialogClose="yes">Delete</button>
            </mat-dialog-actions>
          </ng-template>



          <ng-template #callAPIDialog>
            <div mat-dialog-content> 
        
        <td colspan="1">
            <form #UpdateTrainer="ngForm" (ngSubmit)="updateMenu(UpdateTrainer.value); UpdateTrainer.resetForm()" class="well form-horizontal">
                <h2>EDIT Item Info </h2>
               <fieldset>
                  <div class="form-group">
                     <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span><input  required  type="hidden" matInput name="ItemId"  [(ngModel)]="ItemId"   class="form-control" ></div>
                     </div>
                  </div>
                 
                  <div class="form-group">
                     <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i>Item Name </span><input required type="text" matInput name="ItemName"  [(ngModel)]="ItemName"   placeholder="itemName" class="form-control" >
                            <!-- <span *ngIf="FirstName['invalid'] && FirstName['touched']">FirstName is required</span> -->
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i> Componant</span><input required type="text" matInput name="Components"  [(ngModel)]="Components" placeholder="components" class="form-control"  >
                            <!-- <span *ngIf="UserName.invalid && UserName.touched">User Name is required</span> -->
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-md-8 inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i> Price</span><input  required type="number" step="0.01"  matInput name="Price" [(ngModel)]="Price" placeholder="price" class="form-control" >
                            <!-- <span *ngIf="Email.invalid && Email.touched">email is required</span> -->
                        </div>
                     </div>
                  </div>
                 
                  
                  <app-img-item (onUploadFinished)="uploadFinished($event)" ></app-img-item>

                        
                 
                    <button class="btn btn-primary" matDialogClose="yes">Cancel</button>
                    <button  class="btn btn-success btn-jittery" matDialogClose="no" type="submit">Update </button>
                  
               </fieldset>
              
            </form>
         </td>
            </div>
        </ng-template>

<script> 
$('#datatable1').DataTable({
  responsive: true,
  language: {
    searchPlaceholder: 'Search...',
    sSearch: '',
    lengthMenu: 'MENU items/page',
  }
});
</script>

    <script src="../../../assets/assets/lib/jquery/jquery.js"></script>
<script src="../../../assets/assets/lib/popper.js/popper.js"></script>
<script src="../../../assets/assets/lib/bootstrap/bootstrap.js"></script>
<script src="../../../assets/assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
<script src="../../../assets/assets/lib/moment/moment.js"></script>
<script src="../../../assets/assets/lib/jquery-ui/jquery-ui.js"></script>
<script src="../../../assets/assets/lib/jquery-switchbutton/jquery.switchButton.js"></script>
<script src="../../../assets/assets/lib/peity/jquery.peity.js"></script>
<script src="../../../assets/assets/lib/chartist/chartist.js"></script>
<script src="../../../assets/assets/lib/jquery.sparkline.bower/jquery.sparkline.min.js"></script>
<script src="../../../assets/assets/lib/d3/d3.js"></script>
<script src="../../../assets/assets/lib/rickshaw/rickshaw.min.js"></script>


<script src="../../../assets/assets/js/bracket.js"></script>
<script src="../../../assets/assets/js/ResizeSensor.js"></script>
<script src="../../../assets/assets/js/dashboard.js"></script>
<script>
  $(function(){
    'use strict'

    // FOR DEMO ONLY
    // menu collapsed by default during first page load or refresh with screen
    // having a size between 992px and 1299px. This is intended on this page only
    // for better viewing of widgets demo.
    $(window).resize(function(){
      minimizeMenu();
    });

    minimizeMenu();

    function minimizeMenu() {
      if(window.matchMedia('(min-width: 992px)').matches && window.matchMedia('(max-width: 1299px)').matches) {
        // show only the icons and hide left menu label by default
        $('.menu-item-label,.menu-item-arrow').addClass('op-lg-0-force d-lg-none');
        $('body').addClass('collapsed-menu');
        $('.show-sub + .br-menu-sub').slideUp();
      } else if(window.matchMedia('(min-width: 1300px)').matches && !$('body').hasClass('collapsed-menu')) {
        $('.menu-item-label,.menu-item-arrow').removeClass('op-lg-0-force d-lg-none');
        $('body').removeClass('collapsed-menu');
        $('.show-sub + .br-menu-sub').slideDown();
      }
    }
  });
</script>

    <script>
      $(function(){
        'use strict';

        $('#datatable1').DataTable({
          responsive: true,
          language: {
            searchPlaceholder: 'Search...',
            sSearch: '',
            lengthMenu: 'MENU items/page',
          }
        });

        $('#datatable2').DataTable({
          bLengthChange: false,
          searching: false,
          responsive: true
        });

        // Select2
        $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });

      });
    </script>