
<!-- if(token) -->
<header  class="stick">
    <div class="topbar">
        <div class="container">
            <div class="select-wrp">
                <select data-placeholder="Feel Like Eating">
                    <option>FEEL LIKE EATING</option>
                    <option>Burger</option>
                    <option>Pizza</option>
                    <option>Fried Rice</option>
                    <option>Chicken Shots</option>
                </select>
            </div>
            <div class="select-wrp">
                <select data-placeholder="Choose Location">
                    <option>CHOOSE LOCATION</option>
                    <option>New york</option>
                    <option>Washington</option>
                    <option>Chicago</option>
                    <option>Los Angeles</option>
                </select>
            </div>
            <div class="topbar-register">
                <svg *ngIf="loggedin()" xmlns="http://www.w3.org/2000/svg" width="30" height="25" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                  </svg>
                <a *ngIf="!loggedin()" class="log-popup-btn" routerLink="home/login" title="Login" >LOGIN</a> / <a *ngIf="!loggedin()" class="sign-popup-btn"     title="Register" >REGISTER</a>

               <a *ngIf="loggedin()" class="log-popup-btn" (click)="logout()" title="logout" >LOGOUT</a> 
            </div>
            <div class="social1">
                <a href="#" title="Facebook" itemprop="url" target="_blank"><i class="fa fa-facebook-square"></i></a>
                <a href="#" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="#" title="Google Plus" itemprop="url" target="_blank"><i class="fa fa-google-plus"></i></a>
            </div>
        </div>                
    </div><!-- Topbar -->
    <div class="logo-menu-sec">
        <div class="container">
            <div class="logo"><h1 itemprop="headline"><a href="index-2.html" title="Home" itemprop="url"><img src="assets/images/logo2.png" alt="logo.png" itemprop="image"></a></h1></div>
            <nav>
                <div class="menu-sec">
                    <ul>
                        <li class="menu-item-has-children name "><a routerLink="/home/home" title="HOMEPAGES" itemprop="url"><span class="red-clr"></span>HOME</a>
                            <ul class="sub-dropdown">
                                <li><a href="http://localhost:4200/about" title="HOMEPAGE 1" itemprop="url">ABOUTUS</a></li>
                                <li><a href="index2.html" title="HOMEPAGE 2" itemprop="url">TESTMONIAL</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a routerLink="/home/about" title="RESTAURANTS" itemprop="url"><span class="red-clr"></span>ABOUTUS</a>
                            <ul class="sub-dropdown">
                                <li><a  routerLink="/home/about" title="RESTAURANT 1" itemprop="url"> ABOUTUS</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a routerLink="home/allcafes" title="PAGES" itemprop="url"><span class="red-clr"></span>CAFES</a>
                            <ul class="sub-dropdown">
                                <li class="menu-item-has-children"><a routerLink="home/allcafes" title="BLOG" itemprop="url">ALL CAFES </a>
                                   
                                </li>
                                <li class="menu-item-has-children"><a href="#" title="BLOG" itemprop="url">MAP  </a>
                                   
                                </li>
                               
                               
                               
                            </ul>
                        </li>
                        <li><a routerLink="/home/contuct" title="CONTACT US" itemprop="url"><span class="red-clr"></span>CONTACT US</a></li>
                        <li><a *ngIf="loggedin()" routerLink="/home/contuct" title="CONTACT US" itemprop="url"><span class="red-clr"></span>MY PROFILE</a></li>

                    </ul>

                    <a  *ngIf="!loggedin()" class="red-bg brd-rd4" routerLink="/home/registercafe" title="Register" itemprop="url">REGISTER CAFE</a>'
                
                <a *ngIf="!loggedin()" class="red-bg brd-rd4" routerLink="/home/registerdeliver" title="Register" itemprop="url">REGISTER DELIVERY </a>'
                
                </div>
            </nav><!-- Navigation -->
        </div>
    </div><!-- Logo Menu Section -->
</header><!-- Header -->

